# package directories
node_modules
jspm_packages

# Serverless directories
.serverless


#Google Console API credentials
credentials.json
*credentials.json
*Credentials.json
.DS_Store

#personal
.env*